In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-04-15 08:29:51,-46.1927,168.8643,51.89,77,13,3.20
1,1,Upata,VE,2022-04-15 08:29:52,8.0086,-62.3989,70.66,88,100,4.56
2,2,Airai,TL,2022-04-15 08:29:52,-8.9266,125.4092,66.47,89,96,2.15
3,3,Hermanus,ZA,2022-04-15 08:29:52,-34.4187,19.2345,60.80,63,98,19.86
4,4,New Norfolk,AU,2022-04-15 08:29:53,-42.7826,147.0587,60.66,57,100,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Axim,GH,2022-04-15 08:29:53,4.8699,-2.2405,78.98,83,100,5.97
13,13,Vaini,TO,2022-04-15 08:29:56,-21.2000,-175.2000,78.96,89,40,8.05
19,19,Port Antonio,JM,2022-04-15 08:28:56,18.1800,-76.4612,75.00,84,14,9.33
22,22,Marawi,PH,2022-04-15 08:29:59,7.9986,124.2928,78.06,70,67,4.32
25,25,Victoria,HK,2022-04-15 08:25:36,22.2855,114.1577,83.17,70,7,11.99
26,26,Carnarvon,AU,2022-04-15 08:30:00,-24.8667,113.6333,82.47,69,71,12.66
32,32,Puerto Ayora,EC,2022-04-15 08:30:04,-0.7393,-90.3518,75.20,92,64,8.01
40,40,Bathsheba,BB,2022-04-15 08:30:08,13.2167,-59.5167,77.61,83,40,17.27
43,43,Ambulu,ID,2022-04-15 08:30:09,-8.3450,113.6058,83.84,79,35,4.59
45,45,Dingle,PH,2022-04-15 08:31:10,10.9995,122.6711,82.18,79,100,1.36

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       146
City          146
Country       143
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [15]:
preferred_cities_df.notnull().sum()

City_ID       146
City          146
Country       143
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [21]:
preferred_cities_df = preferred_cities_df.dropna()

In [22]:
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

## Get Travel Destinations

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5           Axim      GH     78.98   4.8699   -2.2405
13         Vaini      TO     78.96 -21.2000 -175.2000
19  Port Antonio      JM     75.00  18.1800  -76.4612
22        Marawi      PH     78.06   7.9986  124.2928
25      Victoria      HK     83.17  22.2855  114.1577
26     Carnarvon      AU     82.47 -24.8667  113.6333
32  Puerto Ayora      EC     75.20  -0.7393  -90.3518
40     Bathsheba      BB     77.61  13.2167  -59.5167
43        Ambulu      ID     83.84  -8.3450  113.6058
45        Dingle      PH     82.18  10.9995  122.6711

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Axim,GH,78.98,4.8699,-2.2405,Axim Beach Resort And Spa
13,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
19,Port Antonio,JM,75.00,18.1800,-76.4612,The Trident Hotel
22,Marawi,PH,78.06,7.9986,124.2928,Derogongan Residence
25,Victoria,HK,83.17,22.2855,114.1577,Mini Hotel Central
26,Carnarvon,AU,82.47,-24.8667,113.6333,Hospitality Carnarvon
32,Puerto Ayora,EC,75.20,-0.7393,-90.3518,Finch Bay Galapagos Hotel
40,Bathsheba,BB,77.61,13.2167,-59.5167,Atlantis Hotel
43,Ambulu,ID,83.84,-8.3450,113.6058,Hotel Ambulu Jember
45,Dingle,PH,82.18,10.9995,122.6711,SEGAYA PROPERTY

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))